<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-8 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Переваги покупки в нашому магазині</h5>
            <p class="mb-4 text-justify">Ми знаємо всі наші книги і знайомі вони нам не тільки по красивих обкладинках.
                Якщо вам важко у виборі новинки та ви не можете визначитися у величезному асортименті, наші консультанти
                прийдуть на допомогу. Всі продавці Yakaboo розділяють любов до друкованого слова і раді порадити саме ту
                книгу, яку ви шукаєте. Наш кол-центр працює на сайті 7 днів на тиждень з 8:00 до 21:00. Ми готові
                проконсультувати вас з усіх питань, включаючи і вартість видань.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Наша адреса, Україна</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0 800 500 021</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Новинки</h5>
            <p class="text-justify"> Якщо бажаєте отримувати новини першими, підпишіться на нас</p>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ваша e-пошта">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Підписатися</button>
                    </div>
                </div>
            </form>
            <h6 class="text-secondary text-uppercase mt-4 mb-3">Слідкувати за нами</h6>
            <div class="d-flex">
                <a class="btn btn-primary btn-square mr-2" href="https://www.youtube.com/channel/UC74YRjoOXfZmM2YIdeKwurQ"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-primary btn-square mr-2" href="https://www.facebook.com/knyharniaye/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square mr-2" href="https://t.me/knyharnia_ye"><i class="fab fa-telegram"></i></a>
                <a class="btn btn-primary btn-square" href="https://www.instagram.com/knyharnia_ye_kyiv/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>


    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-12 px-xl-2">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Книгарня</a>
                2020 - {% now "Y" %}. Усі права захищено. Designed
                by
                <a class="text-primary" href="https://htmlcodex.com"> Вільний доступ</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer End -->