{% extends 'base.html' %}
{% block content %}
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Книжки</span>
    </h2>
    <div class="row px-xl-5">
        {% for book in book_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="{{ book.get_absolute_url }}"><img class="img-fluid w-100" src="{{ book.image.url }}"
                                                                   alt="{{ book.name }}"></a>
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{% url 'add_basket' book.id %}"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <hr>
                        <a class="h6 text-decoration-none text-truncate"
                           href="{{ book.author.get_absolute_url }}">{{ book.author }}
                            <hr>
                            <a class="h6 text-decoration-none text-truncate"
                               href="{{ book.get_absolute_url }}">{{ book.name|truncatechars:32 }}</a>
                            <hr>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>₴{{ book.price }}</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(5)</small>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- Products End -->
{% endblock %}
