{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">{% trans 'Книжки' %}</span>
    </h2>
    <div class="row px-xl-5">
        {% for book in book_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="{{ book.get_absolute_url }}"><img class="img-fluid w-100" src="{{ book.image.url }}"
                                                                   alt="{{ book.name }}"></a>

                    </div>
                    <div class="text-center py-4">
                        <hr>
                        <a class="h6 text-decoration-none text-truncate"
                           href="{{ book.get_absolute_url }}">{{ book.author }}
                            <hr>
                            <a class="h6 text-decoration-none text-truncate"
                               href="{{ book.get_absolute_url }}">{{ book.name|truncatechars:32 }}</a>
                            <hr>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>₴{{ book.price }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <!-- Products End -->
{% endblock %}
