{% extends 'base.html' %}
{% block content %}


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Головна</a>
                    <a class="breadcrumb-item text-dark" href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
                    <span class="breadcrumb-item active">{{ book.name }}</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ book.image.url }}" alt="{{ book.name }}">
                        </div>
                    </div>
                    {#                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">#}
                    {#                        <i class="fa fa-2x fa-angle-left text-dark"></i>#}
                    {#                    </a>#}
                    {#                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">#}
                    {#                        <i class="fa fa-2x fa-angle-right text-dark"></i>#}
                    {#                    </a>#}
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ book.name }}</h3>
                    <a href="{{ book.author.get_absolute_url }}"><h4>{{ book.author }}</h4></a>
                    {#                        TODO Reviews#}
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>

                        <small class="pt-1">(99 Reviews)</small>
                    </div>

                    <h3 class="font-weight-semi-bold mb-4">₴ {{ book.price }}</h3>
                    <p class="mb-4">{{ book.annotation }}</p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Видавництво:</strong>
                        <span>{{ book.publication }}</span>

                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Рік видання:</strong>
                        <span>{{ book.year }}</span>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Купити</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Опис</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Характеристики</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Коментарі</a>
                    </div>
                    <div class="tab-content">
                        {#                    ОПИС БЛОК #}
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Про книжку</h4>
                            <p class="text-justify">{{ book.description|safe }}</p>
                        </div>

                        {#                    ХАРАКТЕРИСТИКИ БЛОК #}
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-3">Характеристики</h4>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Автор</td>
                                            <td>{{ book.author }}</td>
                                        </tr>
                                        <tr>
                                            <td>Видавництво</td>
                                            <td>{{ book.publication }}</td>
                                        </tr>
                                        <tr>
                                            <td>Жанр</td>
                                            <td>
                                                {% for genre in book.genres.all %}
                                                    {{ genre }}&emsp;
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Мова</td>
                                            <td>{{ book.language }}</td>
                                        </tr>
                                        <tr>
                                            <td>Рік видання</td>
                                            <td>{{ book.year }}</td>
                                        </tr>
                                        <tr>
                                            <td>Кількість сторінок</td>
                                            <td>{{ book.num_page }}</td>
                                        </tr>
                                        <tr>
                                            <td>Формат</td>
                                            <td>{{ book.format }}</td>
                                        </tr>
                                        <tr>
                                            <td>ISBN</td>
                                            <td>{{ book.isbn }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {#                    КОМЕНТАРІ БЛОК #}
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    {#TODO Коменти ї рейтінги #}
                                    <h4 class="mb-4">1 Відгук на {{ book.name }}</h4>
                                    <div class="media mb-4">
                                        <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                             style="width: 45px;">
                                        <div class="media-body">
                                            <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                            <div class="text-primary mb-2">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore
                                                accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed
                                                sed eirmod ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">Залиште відгук</h4>
                                    {#                                    <small>Ваша електронна адреса не буде опублікована. Обов'язкові поля позначені *</small>#}
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Ваш рейтинг * :</p>
                                        <div class="text-primary">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                    <form>
                                        <div class="form-group">
                                            <label for="message">Ваш відгук *</label>
                                            <textarea id="message" cols="30" rows="5"
                                                      class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Ваше ім'я *</label>
                                            <input type="text" class="form-control" id="name">
                                        </div>
                                        {#                                        <div class="form-group">#}
                                        {#                                            <label for="email">Ваша адреса e-пошти *</label>#}
                                        {#                                            <input type="email" class="form-control" id="email">#}
                                        {#                                        </div>#}
                                        <div class="form-group mb-0">
                                            <input type="submit" value="Залишити відгук"
                                                   class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

{% endblock %}