{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Книгарня' %} :: {% trans 'Доставка' %}{% endblock %}

{% block content %}



    <!-- Delivery Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-12">
                <article class="col-main" role="main">
                    <div id="cms-content" class="std">
                        {% blocktranslate %}
                            <p><span>Працюємо без свят і вихідних! Клієнти з України можуть отримати замовлення протягом
                                5-6 днів, в залежності від місцезнаходження населеного пункту і обраного способу
                                доставки. Доставка можлива в ті населені пункти, де працюють відділення Нової пошти чи
                                Укрпошти.&nbsp;Замовлення на суму понад 500 грн з доставкою у відділення
                                Укрпошти доставляються безкоштовно*. Доступні способи, точні терміни та вартість
                                доставки ви можете побачити під час оформлення замовлення в кошику замовлення,
                                після вибору міста доставки.</span>
                            </p>
                            <p><em>*Доставка здійснюється за рахунок підприємства.</em></p>
                            <p><strong><em>Ми щодня працюємо для вас – 24/7.&nbsp;Незважаючи на воєнний стан, робимо все
                                від себе залежне, щоб виконати всі замовлення вчасно.</em></strong></p>
                            <h3><strong>Комплектація і цілісність товару</strong></h3>
                            <ul>
                                <li>Будь ласка, перевіряйте комплектацію, цілісність упаковки, відсутність механічних
                                    пошкоджень і документи при отриманні замовлення. Це можливо зробити при працівниках
                                    служби доставки.
                                </li>

                                <li>Ми не несемо відповідальності за товар, який не був перевірений на наявність
                                    механічних пошкоджень або відсутність частин безпосередньо при отриманні у
                                    відділенні перевізника.
                                </li>

                                <li>У разі виявлення некомплекту або пошкоджень, ви маєте право не оплачувати товар і
                                    відмовитися від його отримання.
                                </li>
                            </ul>
                        {% endblocktranslate %}
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Delivery Detail End -->

{% endblock %}






