{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Книгарня' %} :: {% trans 'Оплата' %}{% endblock %}

{% block content %}

    <!-- Payment Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-12">
                <article class="col-main" role="main">
                    <div id="cms-content" class="std">
                        {% blocktranslate %}
                            <h3><strong>Оплата онлайн</strong></h3>
                            <p>Для оплати замовлень онлайн – виберіть при оформленні замовлення спосіб оплати: Оплата
                                онлайн. Після підтвердження замовлення ви потрапите на сайт платіжної системи, де
                                необхідно буде ввести реквізити платіжної карти і пройти верифікацію за допомогою
                                SMS-повідомлення. Якщо з будь-яких причин платіжна система не приймає оплату картою, ви
                                автоматично повернетесь на сайт yakaboo.ua, де зможете вибрати інший спосіб оплати.</p>
                            <p><strong>Спосіб онлайн оплати <a href="https://wayforpay.com/uk"
                                                               target="_blank">WayForPay</a></strong></p>
                            <h3><strong>Готівкою / карткою<br></strong></h3>
                            <p>
                                <span>Покупку можна оплатити готівкою або карткою при доставці замовлення на поштове
                                    відділення. До кожного замовлення додається товарний чек.</span>
                            </p>
                            <h3><strong>Банківським переказом</strong></h3>
                            <p>Якщо ви вирішили оплатити замовлення за допомогою банківського переказу, то під час
                                оформлення замовлення вам необхідно вказати форму оплати «Банківський переказ». Коли
                                замовлення буде оформлене, наш менеджер зв'яжеться з вами для підтвердження замовлення
                                та відправлення рахунку.</p>
                        {% endblocktranslate %}
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!-- Payment Detail End -->

{% endblock %}






